:root {
    --primary-color: #191A19;
    --secondary-color: #1E5128;
    --tertiary-color: #4E9F3D;
    --quaternary-color: #D8E9A8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--primary-color);
}

main {
    position: relative;
    z-index: 1;
    background: var(--primary-color);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}


/* HEADER / NAV SECTION */
header {
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/hero_bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 999;
}

header h1 {
    font-weight: bold;
    margin: 5px;
    text-shadow: 0 0 20px rgba(216, 233, 168, 0.5);
    color: var(--quaternary-color);
}

header a {
    text-decoration: none;
    color: var(--quaternary-color);
}

header a:hover {
    text-shadow: 10px 10px 10px rgba(78, 159, 61, 0.5);
    color: var(--tertiary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.55vw;
    line-height: 1.5vw;
}
/* HEADER / NAV END */

/* HERO SECTION */
.hero {
    background-image: url("../images/hero_bg.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-attachment: fixed;
    background-position: 80%;
    height: 600px;
}

.hero-container {
    display: inline-block;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 300px;
}

.typewriter-text {
    color: var(--quaternary-color);
    font-family: American Typewriter, Courier, monospace;
    overflow: hidden;
    border-right: .15em solid white;
    white-space: nowrap;
    font-size: 1.5em;
    width: 0;
    align-content: center;
    animation: 
        typing 3s steps(50, end) forwards,
        blink .8s infinite;
}
/* overflow:hidden and width:0 makes sure the content isn't revealed until typing
effect starts / border-right used to create typewriter cursor / steps(20, end) breaks
the typing animation into 20 steps */

@keyframes typing {
    from {width: 0;}
    to {width: 100%;}
}

@keyframes blink {
    from {border-color: transparent;}
    to {border-color: white;}
}
/* HERO END */

/* ABOUT ME SECTION */

.about-me {
    margin: 20px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 10px;
    padding: 10px 10px;
    flex-wrap: wrap;
}

.intro {
    text-align: justify;
    flex: 2;
    padding: 10px 20px;
    color: var(--quaternary-color);
    line-height: 1.5;
    border-left: 2px solid var(--tertiary-color);
}

.aboutme-poem {
    font-style: italic;
}

.intro a {
    text-decoration: none;
    color: var(--quaternary-color);
}

.intro a:hover {
    font-weight: bold;
}

.intro a:visited {
    text-decoration: none;
}

.intro span {
    font-weight: bold;
}

.about-me img {
    border-radius: 50%;
    flex: 1 1 10%;
    width: 20%;
    padding: 10px 20px;
    margin: auto;
}

.about-me {
    border-bottom: 1px solid #1E5128;
}

/* ABOUT ME END */

/* PORTFOLIO SECTION */

.portfolio-cards {
    align-content: center;
    justify-content: center;
    padding: 0 10% 0 10%;
}

.portfolio-cards h2 {
    text-align: center;
    margin: 0 auto;
}

.portfolio-cards img {
    width: 80%;
    height: auto;
}

.portfolio-cards img:hover {
    opacity: .5;
}

/* PORTFOLIO END */

/* CONTACT ME SECTION */
/* CONTACT ME END */

/* FOOTER SECTION */

footer {
    line-height: 1.5;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background-image: url("../images/hero_bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}

footer h3 {
    color: var(--secondary-color);
    font-size: 1.5vw;
}

footer a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.5vw;
    font-weight: bold;
}

footer a:hover {
    text-shadow: 0 0 10px rgba(78, 159, 61, 0.5);
}

footer a:visited {
    text-decoration: none;
}

/* FOOTER END */

/* UTILITIES */

.section-title {
    font-size: 46px;
    color: var(--tertiary-color);
    margin: 20px;
    padding: 10px 10px 30px 10px;
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* MEDIA QUERIES */